.food-card {
  width: calc(100% / 4);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 17px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
  img {
    width: 100%;
  }
  .food-card-mid {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    margin-bottom: 20px;
  }
  .content {
    padding: 10px;
  }
  &:hover{
    transform: scale(1.04);
    cursor: pointer;
  }
  button{
    width: 100%;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;

  }
  .description{
    height: 100px;
  }
}
